In [1]:
a="abcde" #문자열 a를 선언

In [2]:
a[0],a[1],a[2],a[3],a[4]
#[0], a[1], ... a[4]: 문자열 a에서 첫 번째 문자부터 다섯 번째 문자까지 순서대로 출력

('a', 'b', 'c', 'd', 'e')

In [3]:
a[-1],a[2],a[-3],a[-4],a[-5]
#문자열 a에서 마지막 문자부터 첫번째 문자까지 역순으로 출력

('e', 'c', 'c', 'b', 'a')

In [4]:
a="가나다라마" #문자열 a를 선언

In [5]:
a[0],a[1],a[2],a[3],a[4]
#문자열 a에서 첫 번째 문자부터 다섯 번째 문자까지 순서대로 출력

('가', '나', '다', '라', '마')

In [6]:
a="abcde"#문자열 a를 선언

In [7]:
a[1:5] #a 문자열의 인덱스 1부터 (5-1)까지의 범위를 잘라서 반환

'bcde'

In [8]:
a[1:2] # a 문자열의 인덱스 1부터 (2-1)까지의 범위를 잘라서 반환

'b'

In [9]:
a[:6] #a 문자열의 처음부터 (6-1)까지의 범위를 잘라서 반환

'abcde'

In [10]:
a[3:] # a 문자열의 인덱스 3부터 끝까지의 범위를 잘라서 반환

'de'

In [11]:
a[2:-2] #a 문자열의 인덱스 2부터 (끝에서 2번째 인덱스-1)까지의 범위를 잘라서 반환

'c'

In [12]:
a[2:-3] # a 문자열의 인덱스 2부터 (끝에서 3번째 인덱스-1)까지의 범위를 잘라서 반환

''

In [13]:
a[1:-1] # a 문자열의 인덱스 1부터 (끝에서 1번째 인덱스-1)까지의 범위를 잘라서 반환
        #그러나 시작 인덱스가 끝 인덱스보다 크므로 잘라낼 수 있는 부분이 없다.

'bcd'

In [1]:
a="abcdefghijklmabcdefgh" #문자열 선언

In [2]:
a.find("f") #앞에서 부터 찾음, 찾은 값의 인덱스임

5

In [16]:
a.rfind("f") #뒤에서 부터 찾음

18

In [17]:
a.find("i"),a.rfind("i") #만일 찾는 문자가 하나라면 결과는 동일

(8, 8)

In [18]:
a.index("b"),a.rindex("b") #index함수도 결과는 동일

(1, 14)

In [19]:
a.rindex("z")  #하지만 찾는 문자가 없으면 에러발생

ValueError: substring not found

In [20]:
a.count("f") #해당 문자의 개수를 반환

2

In [21]:
a.rfind("abc") #문자열을 넣어도 됨

13

In [22]:
a="abcdfegabcdfeg" #문자열 선언

In [24]:
if a.find("f") > 0:
    # "f" 문자열이 문자열 a 안에 있는지 검사. 
    #만약 "f" 문자열이 있다면 
    print ("a가 들어 있음")
    #"a가 들어 있음" 출력

a가 들어 있음

In [25]:
if "f" in a : #만일 "f"가 a안에 있다면..으로 자연적 영어표현
    print ("a가 들어 있음") ##"a가 들어 있음" 출력

a가 들어 있음

In [26]:
a="abcDefGh" #문자열 선언

In [27]:
a.upper() #a의 문자열을 대문자로 바꾸기

'ABCDEFGH'

In [28]:
a="abcDefGh" #문자열 선언

In [29]:
a.lower() #a의 문자열을 소문자로 바꾸기

'abcdefgh'

In [30]:
a="   abc  def  hij      " # 문자열 선언

In [31]:
a.lstrip()
#lstrip()함수는 문자열 왼쪽 끝의 모든 공백을 지우는 함수로
#a문자열의 쪽 끝의 모든 공백을 지운다.

'abc  def  hij      '

In [32]:
a="   abc  def  hij      "  #문자열 선언

In [33]:
a.rstrip()
#a 문자열의 오른쪽 끝의 모든 공백을 지움

'   abc  def  hij'

In [54]:
a="   abc  def  hij      "#문자열 선언

In [55]:
a.strip()
#a 문자열의 왼쪽 끝과 오른쪽 끝의 모든 공백을 지움

'abc  def  hij'

In [36]:
a="   abc  def  hij      "#문자열 선언

In [37]:
a.replace(" ","")
# a 문자열의 모든 공백을 지움

'abcdefhij'

In [38]:
rec="홍길동,100,95,88" #rec 변수에 문자열을 할당
item=rec.split(",")
# rec 문자열을 ','를 기준으로 분리한 결과를 리스트 형태로 item 변수에 할당
print("="*10) # 등호 10개를 출력
print("이름: ", item[0])
## 이름을 출력합니다. item[0]에는 '홍길동'이 저장
print("국어: ", item[1])
## 국어 점수를 출력합니다. item[1]에는 '100'이 저장
print("영어: ", item[2])
# 영어 점수를 출력합니다. item[2]에는 '95'가 저장
print("수학: ", item[3])
# 수학 점수를 출력합니다. item[3]에는 '88'이 저장
print("="*10) # 등호 10개를 출력

==========
이름:  홍길동
국어:  100
영어:  95
수학:  88
==========

In [43]:
rec="본 예제는 빈칸으로 구분되어 있는 한 줄의 데이터를 빈칸을      구분하여 나누어 줌"
# rec 변수에 문자열을 할
item=rec.split(" ") 
## rec 문자열을 공백을 기준으로 분리한 결과를 리스트 형태로 item 변수에 할당
print("="*10)
## 등호 10개를 출력
i=0
#i 변수를 초기화
for s in item: 
## item 리스트의 요소를 하나씩 순회하며 반복
    print(i,"==>", s) 
    # 요소의 인덱스와 값을 출력
    i+=1 # i 변수를 1 증가
print("="*10) # 등호 10개를 출력

==========
0 ==> 본
1 ==> 예제는
2 ==> 빈칸으로
3 ==> 구분되어
4 ==> 있는
5 ==> 한
6 ==> 줄의
7 ==> 데이터를
8 ==> 빈칸을
9 ==>
10 ==>
11 ==>
12 ==>
13 ==>
14 ==> 구분하여
15 ==> 나누어
16 ==> 줌
==========

In [44]:
#데이터 
dili_score=["나연,100,90,100",
            "정연,90,90,100",
            "모모,80,70,90",
            "사나,90,90,80",
            "지효,100,80,80",
            "미나,50,90,90",
            "다현,80,60,100",
            "채영,70,80,90",
            "쯔위,100,90,90"]
score=[] #빈 리스트를 생성
for one_rec in dili_score:
# dili_score 리스트의 각 요소를 반복하며, 반복 변수로 one_rec을 사용
    one_score=one_rec.split(",")# one_rec 문자열을 ','를 구분자로 분리한 결과를 리스트로 만든다.
    one_score[1]=int(one_score[1]) #국어점수 숫자형 변환
    one_score[2]=int(one_score[2]) #영어점수 숫자형 변환
    one_score[3]=int(one_score[3]) #수학점수 숫자형 변환 
    score.append(one_score.copy()) # copy에 주의할 것..값 복사
                                   # one_score 리스트를 복사하여 score 리스트에 추가
print(score) # score 리스트를 출력

[['나연', 100, 90, 100], ['정연', 90, 90, 100], ['모모', 80, 70, 90], ['사나', 90, 90, 80], ['지효', 100, 80, 80], ['미나', 50, 90, 90], ['다현', 80, 60, 100], ['채영', 70, 80, 90], ['쯔위', 100, 90, 90]]

In [45]:
item="오징어땅콩"   #품목 
unit=1000           #단가 
qty=10              #수량 
tot=unit*qty        #합계
print("case1") #지금까지 사용한 print방법, 칸이 띄어서 출력
print("품목:",item," 단가:",unit,"원    수량:",qty,"개    합계:",tot,"원")
#,를 사용하여 각각의 변수와 문자열을 출력
print("case2") #하나의 긴 문자열을 만들어 출력하면 공백없이 출력이 가능
print("품목:"+item+"  단가:"+str(unit)+"원         수량:"+str(qty)+"개 합계:"+str(tot)+"원")
# +를 사용하여 문자열과 변수를 이어 붙인다.
print("case3") #출력포멧문자를 지정하여 원하는 포멧으로 출력이 가능
print("품목:%s  단가:%d원 수량:%d개 합계:%d원"%(item,unit,qty,tot))
print("case4") #포멧팅    예
print("품목:%-10s  단가:%05d원        수량:0x%02x개 합계:%10.3f원"%(item,unit,qty,tot))
#-10s: 10자리를 확보하고 왼쪽 정렬하여 문자열(item)을 출력
#05d: 5자리를 확보하고 빈자리는 0으로 채우고 오른쪽 정렬하여 정수(unit)를 출력
#0x%02x: 2자리를 확보하고 빈자리는 0으로 채우고 소문자 16진수(prefix 0x)로 출력할 변수(qty)를 지정
#%10.3f: 10자리를 확보하고 소수점 이하 3자리까지 표현하며 실수형 변수(tot)를 출력

case1
품목: 오징어땅콩  단가: 1000 원    수량: 10 개    합계: 10000 원
case2
품목:오징어땅콩  단가:1000원         수량:10개 합계:10000원
case3
품목:오징어땅콩  단가:1000원 수량:10개 합계:10000원
case4
품목:오징어땅콩       단가:01000원        수량:0x0a개 합계: 10000.000원

In [46]:
item="땅콩"   #문자 
unit=1000     #숫자
print("[%5d][%-5d][%05d]"%(unit,unit,unit)) 
#%5d: 10진수 정수를 5칸 오른쪽으로 정렬
#%-5d: 10진수 정수를 5칸 왼쪽으로 정렬
#%05d: 10진수 정수를 5칸 오른쪽으로 정렬하고 빈 칸은 0으로 채움
print("[%5s][%-5s][%05s]"%(item,item,item))
#%5d: 10진수 정수를 5칸 오른쪽으로 정렬
#%-5d: 10진수 정수를 5칸 왼쪽으로 정렬
#%05d: 10진수 정수를 5칸 오른쪽으로 정렬하고 빈 칸은 0으로 채움
print("[%d]=[%x][%#x][%o]"%(unit,unit,unit,unit))
#%d: 10진수 정수
#%x: 16진수 정수 (소문자)
#%#x: 16진수 정수 (소문자) 앞에 '0x' 표기
#%o: 8진수 정수
print("[%5d%%]"%unit)
#한글은 1byte로 자르면 에러
#print("[%c][%c][%c]"%(unit[0],unit[1])) 
#%c: 문자
a="abcd"
print("[%c][%c][%c]"%(a[0],a[1],a[2]))
#%c: 문자

[ 1000][1000 ][01000]
[   땅콩][땅콩   ][   땅콩]
[1000]=[3e8][0x3e8][1750]
[ 1000%]
[a][b][c]

In [48]:
import locale #locale라이브러리를 임포트 함, 설치는 필요없음 
locale.setlocale(locale.LC_ALL, "") # 시스템 기본 로케일 사용 
n = -1234567890.123 #변수 n 선언
s = locale.format_string("%.3f", n, 1) 
# 함수를 사용하여 실수형 변수 n을 천 단위마다 쉼표(,)를 추가한 문자열로 변환
print(s)
#변환된 문자열 s를 출력

-1,234,567,890.123

In [50]:
import locale #locale라이브러리를 임포트 함, 설치는 필요없음 
locale.setlocale(locale.LC_ALL, "") # 시스템 기본 로케일 사용
myWon=1000000  #100만원
moneyEx=1010.12 # 달러환율 
commission_rate=0.002 # 은행 수수료 율
a = moneyEx + moneyEx*commission_rate  #1달러당 환율금액과 해당금액에 대한 수수료의 합 
usd = int (myWon /a) # 나의 돈을 위의 금액으로 나오면 소수점이 나오기 때문에
# 해당 소수점을 버린다 즉 100만원에 989.99달러 나오면 
#989달러를 준다. 소수점 아래는 버린다
remain = int(myWon - usd * a)  # 거스름돈 계산 =100만원 - 달러액*(환율+달러당 수수료)
# 소수점 아래는 버린다.
commission = usd * moneyEx * commission_rate # 환전 수수료총액 계산,
#이 금액은 소수점이하 올림처리해  보자
if(commission != float(int(commission))) : # 이 비교문은 소수점이 있는지 체크 
    commission = int(commission) +1 #소수점이 있다면 올려서 은행이 처리
else:
    commission = int(commission) #소수점 아래 숫자가 없다면 단순 정수형 처리

In [52]:
print("***************************************************") # 구분선 출력
print("총금액: %s원    \t달러환율: $%s"%( 
locale.format_string("%12d", myWon, 1),
#myWon 변수에 저장된 원화 금액을 오른쪽 정렬하여 12자리로 출력하되, 천 단위마다 쉼표(,)를 추가한 뒤 
#문자열로 변환
locale.format_string("%-12d", moneyEx, 1)) )
#변수에 저장된 원화 금액과 moneyEx 변수에 저장된 환율을 이용하여 달러 금액을 계산하고, 이를 포맷팅하여 출력
#1은 천단위를 구분할 때 쓴다.
print("지급달러: $%s"% locale.format_string("%-12d", usd, 1)) 
#usd 변수에 저장된 달러 금액을 포맷팅하여 출력
#usd 변수에 저장된 달러 금액을 왼쪽 정렬하여 12자리로 출력하되, 천 단위마다 쉼표(,)를 추가한 뒤 문자열로 변환
#1은 천단위를 구분할 때 쓴다.
print("거스름돈: %s원    \t은행수수료: %s원"%( 
#거스름돈과 은행 수수료를 포맷팅하여 출력
locale.format_string("%6d", remain, 1), 
#변수에 저장된 거스름돈을 오른쪽 정렬하여 6자리로 출력하되, 천 단위마다 쉼표(,)를 추가한 뒤 문자열로 변환
locale.format_string("%6d", commission, 1)) )
# 변수에 저장된 은행 수수료를 오른쪽 정렬하여 6자리로 출력하되, 천 단위마다 쉼표(,)를 추가한 뒤 문자열로 변환
print("***************************************************")
#구분선을 출력

***************************************************
총금액:    1,000,000원    	달러환율: $1,010
지급달러: $988
거스름돈:      5원    	은행수수료:  1,996원
***************************************************