In [1]:
a=3 #변수 a에 3할당

In [2]:
b=4 #변수 b에 4할당

In [3]:
c=123+456*6 #변수c에 123+456*6를 연산한 값 할당

In [4]:
a,b,c#a,b,c랎 출력

(3, 4, 2859)

In [5]:
a+b=c #a+b가 c에 할당되는 것은 식이 맞지 않기 떄문에 오류가 난다.

SyntaxError: cannot assign to operator (Temp/ipykernel_22500/1001618493.py, line 1)

In [6]:
123+456=a # =연산자는 변수가 왼쪽에 있어야하므로 이 코드는 오류가 난다.

SyntaxError: cannot assign to operator (Temp/ipykernel_22500/1236383597.py, line 1)

In [7]:
a=1 #a에 1을 할당

In [8]:
a=a+"안녕"  # a는    수치형

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
 a="abc"  
#a에 다시 문자를 대입하는 순간 a는 문자형이 됨

In [10]:
a=a+"안녕"
#a는 a+안녕이라는 값이 할당 문자형이므로 이어져서 출력된다.

In [11]:
a #a출력

'abc안녕'

In [12]:
a=1 #변수 a에 1할당

In [13]:
b=2 #변수 b에 2할당

In [14]:
a,b #a,b값 출력

(1, 2)

In [15]:
a,b=b,a #변수 a에 b의 값 할당 변수 b에 a값 할당

In [16]:
a,b #a,b값 출력

(2, 1)

In [17]:
a,b,c,d,e,f=1,2,"안녕","하셔요",3,4
#여러 변수의 값을 한번에 대입할 수 있다.

In [18]:
a,b,c,d,e,f #a,b,c,d,e,f값 출력

(1, 2, '안녕', '하셔요', 3, 4)

In [19]:
a=b=1 #a,b변수에 1할당

In [20]:
a,b #a,b값 출력

(1, 1)

In [21]:
b=2 #b에 2를 대입

In [22]:
a,b #a,b값 출력

(1, 2)

In [23]:
a=b=[1,2,3] 
#변수 a와 b에 [1,2,3] 리스트 대입
#동일한 리스트 객체 참조

In [24]:
a,b #a,b값 출력

([1, 2, 3], [1, 2, 3])

In [25]:
a[1]=4 
#a의 1번째 인댁스 값을 4로변경
#a와 b가 참조하는 리스트는 동일한 객체이므로, 
#a의 변경이 b에도 영향을 미친다.

In [26]:
a,b #a,b출력(b의 1번째 인덱스도 4로 변경된 것을 확인할 수 있다.)

([1, 4, 3], [1, 4, 3])

In [27]:
a=[1,2,3,4,5]#변수 a에 리스트 [1,2,3,4,5] 대입

In [28]:
b=a[:] #변수b에 a의 값인 리스트를 복사

In [29]:
a,b #a,b값 출력

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [30]:
a[2]=5 
#a의 인덱스 2번의 값을  5로 변경
#a와 b가 참조하는 리스트는 동일한 객체이므로, 
#a의 변경이 b에도 영향을 미친다.

In [31]:
a,b #a,b출력(b의 2번째 인덱스도 5로 변경된 것을 확인할 수 있다.)

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [56]:
1+2*3/4 #곱셈과 나눗셈을 먼저한 후 덧셈을 해준 값인 2.5를 출력

2.5

In [57]:
2**3 2의 3승인 8출력

8

In [58]:
10/3 #10 나누기 3인 3.3333333333333335(반올림해서)출력

3.3333333333333335

In [59]:
1e12*123456789012 #지수 표현법

1.23456789012e+23

In [60]:
a=1+2j #a에 복수수인 1+2j값 할당

In [61]:
a+(123+12j) #a+123+12j값인 124+14출력

(124+14j)

In [62]:
5/2 #5나누기 2한 값인 2.5출력

2.5

In [63]:
5//2 #//는 정수형 나눗셈이므로 2

2

In [64]:
5%2 #5나누기 2한값에서 나머지가 1이기 떄문에 1

1

In [65]:
a=1;a=a+1;print(a)
#a를 1로 초기화 ;a에 1을 더한 후 다시 a에 할당;따라서 2가 출력

2

In [66]:
a=1;a+=1;print(a)
#a를 1로 초기화 ;a에 1을 더한 후 다시 a에 할당;따라서 2가 출력

2

In [67]:
a*=2;a 
#a = a*2와 같은 코드로 2*2를 연산한 4가 a에 할당

4

In [68]:
a*=2;a
#a = a*2와 같은 코드로 4*2를 연산한 8이 a에 할당

8

In [69]:
a=1;a-=1;a
#a를 1로 초기화; a = a-1과 같은 코드로 0이 a에 할당; a값(0) 출력

0

In [70]:
a-=1;a
#a=a-1이랑 같은 코드로 0-1을 연산한 -1값이 a에 할당; a값(-1) 출력

-1

In [71]:
a=1 #a를 1로 초기화

In [72]:
a++ #파이썬에서는 ++는 사용할 수 없다

SyntaxError: invalid syntax (Temp/ipykernel_22500/1277751513.py, line 1)

In [73]:
a-- #파이썬에서는 --는 사용할 수 없다

SyntaxError: invalid syntax (Temp/ipykernel_22500/1562500846.py, line 1)

In [78]:
a="멍멍이"#변수 a에 문자형 멍멍이 할당

In [79]:
b="고양이"#변수 b에 문자형 고양이 할당

In [80]:
a+b #문자형끼리 더하면 문자끼리 이어지므로 멍멍이고양이 출력

'멍멍이고양이'

In [81]:
a*3+b*2 #a 3번, b 2번출력(문자형이므로 이어서 출력)

'멍멍이멍멍이멍멍이고양이고양이'

In [82]:
"-"*20 #-20번 출력

'--------------------'

In [83]:
a=1 #a 1로 초기화

In [84]:
b="강아지"+a+"마리" #a는 정수형이므로 문자형이랑 못 더한다.

TypeError: can only concatenate str (not "int") to str

In [85]:
b="강아지"+str(a)+"마리" # a를 문자형으로 바꿔서 더해준다.

In [86]:
b #문자끼리 더해졌으므로 이어서 출력됨

'강아지1마리'

In [87]:
ord("가") //문자의 내부코드 반환

44032

In [88]:
hex(ord("a")) //문자의 내부코드를 반환해서 16진수로 바꾼다.

'0x61'

In [89]:
for c in range (ord('a'), ord('z')+1):
#range() 함수를 이용하여 'a'부터 'z'까지의 
#내부 코드값을 갖는 정수형 변수 c를 반복
    print(hex(c),"=",chr(c),", ",end="")
   # hex() 함수를 이용하여 변수 c의 내부 코드값을 16진수 형태로 출력하고
   #chr() 함수를 이용하여 내부 코드값을 갖는 변수 c의 해당 문자를 출력
   #end="" 옵션을 이용하여 출력 후 줄바꿈을 하지 않고 출력

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [90]:
a="123"; a+1 
#a에 문자형123할당
#a가 문자형 1이 정수형이므로 연산이 불가하기 떄문에 오류가 난다.

TypeError: can only concatenate str (not "int") to str

In [91]:
a="123"; int(a)+1
#a에 문자형123할당
#a가 문자형 1이 정수형이므로 a를 int형으로 바꿔서 연산

124

In [92]:
a=12.3; int(a)
#a에 12.3 할당
#int는 정수형이므로 12.3에서 소수점을 뺀 12가 된다.

12

In [93]:
a="12.3";int(a)
#a에 문자형 12.3 할당
#int는 정수형인데 12.3은 문자형이므로 변환이 안되서 오류가 난다

ValueError: invalid literal for int() with base 10: '12.3'

In [94]:
float(a)
#float는 실수형으로 12.3출력

12.3

In [95]:
a=1.1;1+a+12
#a에 1.1로 초기화; 1+1.1+12인 14.값 출력

14.1

In [96]:
1+int(a)+12
#a값을 int형으로 변환하면 1이므로 1+1+12를 연산한 값인 14 출력

14

In [99]:
a=1234567 # a에 1234567값 할당

In [100]:
 if(a%1000 != 0 ) :  #1000으로 나누어 나머지가 있다면 
    a=int(a/1000)*1000+1000 #버린값에다 한자리를 올려 줌
else: #1000으로 나누어 나머지가 없다면
    a=int(a/1000)*1000 #세자리 버림
    
a

1235000

In [1]:
int(3.14) # 3.14를 정수형으로 바꾸면 3

3