In [1]:
a=[1,2,3,4,5] # 리스트 a 정의

In [3]:
a[0],a[1],a[2],a[3],a[4] #리스트를 지정하면 첨자 0부터 ~ (n-1)까지의 변수로 지정

(1, 2, 3, 4, 5)

In [4]:
 a=[11,"abc",12.3333,"안녕",2+3j] #리스트 내부에서는 서로 다른 형태의 자료형도 저장이 
                                  #가능함

In [5]:
a[0],a[1],a[2],a[3],a[4] #리스트를 지정하면 첨자 0부터 ~ (n-1)까지의 변수로 지정

(11, 'abc', 12.3333, '안녕', (2+3j))

In [6]:
a[1]=1234;a[4]="홍길동" #값의 (형태)변경도 가능

In [7]:
a #a출력

[11, 1234, 12.3333, '안녕', '홍길동']

In [9]:
score=[90,80,70,60,30] # 리스트 score 정의
sum=0 #sum을 0으로 초기화
for s in score: 
# for loop를 이용하여 리스트의 원소를 하나씩 출력
    print("점수(",s,")") 
    #원소 s를 출력하고, 괄호 안에 '점수' 라는 문자열을 함께 출력
    sum+=s # sum 변수에 리스트의 원소 s를 더함
print("총점:",sum) # 리스트의 모든 원소를 더한 총합을 출력

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [10]:
a=[1,2,3,4,5] # 리스트 a 정의

In [11]:
a[0],a[-5]
#a[0]: a 리스트의 첫 번째 인덱스 값을 의미
#a[-5]는 리스트 a에서 뒤에서부터 다섯 번째 원소

(1, 1)

In [12]:
a[1],a[-4]
#a[1]: a 리스트의 두 번째 인덱스 값을 의미
#a[-4]는 리스트 a에서 뒤에서부터 네번째 원소

(2, 2)

In [13]:
a[2],a[-3]
#a[2]: a 리스트의 세 번째 인덱스 값을 의미
#a[-3]는 리스트 a에서 뒤에서부터 세번째 원소

(3, 3)

In [14]:
a[3],a[-2]
#a[3]: a 리스트의 네번째 인덱스 값을 의미
#a[-2]는 리스트 a에서 뒤에서부터 두번째 원소

(4, 4)

In [15]:
a[4],a[-1]
#a[4]: a 리스트의 다섯번째 인덱스 값을 의미
#a[-1]는 리스트 a에서 뒤에서부터 첫 번째 원소

(5, 5)

In [16]:
a=[1,2,3,4,5,6,7,8,9,10] #리스트 a정의

In [17]:
a[2:8] # 2부터 8보다 작을 때까지(2,3,4,5,6,7)

[3, 4, 5, 6, 7, 8]

In [18]:
a[:4] #처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)

[1, 2, 3, 4]

In [19]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [20]:
a[0:6:3] #0부터 6보다 작을때 까지(6은 제외  0,3) 3씩 증가하여

[1, 4]

In [21]:
a=[[1,2,3],[4,5,6],[7,8,9]] #리스트로 구성된 리스트

In [22]:
a[2] #a리스트의 세번째 인덱스 값

[7, 8, 9]

In [23]:
a[2][2] #a리스트의 세번째 인덱스 리스트의 세번째 값

9

In [24]:
a[1][3] #첨자(index)의 범위를 벗어남

IndexError: list index out of range

In [25]:
a[1][2] #a리스트의 두번째 인덱스 리스트의 세번째 값

6

In [26]:
a=[[1,2],[3,4,5],6] # 가변    형태의    리스트

In [27]:
a #리스트 a출력

[[1, 2], [3, 4, 5], 6]

In [28]:
a[2] #a리스트의 세번째 인덱스 값

6

In [29]:
a[1] #a리스트의 두번째 인덱스 값

[3, 4, 5]

In [30]:
a=[ n * 3 for n in range (1,10)]
#1부터 10으로 리스트를 구성하여 그 요소 하나하나에 3을 곱한 것을 구함

In [31]:
a #리스트 a 출력

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [32]:
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]
#1부터 10중 2로 나누어 나머지가 0인(짝수인) 숫자로 리스트를 구성하여 
#그 요소 하나하나에 3을 곱한 것을 구함

In [33]:
a #리스트 a 출력

[6, 12, 18, 24]

In [157]:
def titleprint():
    pass
#titleprint() 함수는 아무런 일도 하지 않고 pass만 있음을 나타낸다.
def itemprint(name,kortotal,engtotal,mathtotal):
    pass
#인자는 국어, 세 번째 인자는 영어, 네 번째 인자는 수학 점수를 받는다. 
#이 함수는 아무런 일도 하지 않고 pass만 있음을 나타낸다.
def tailprint():
    pass
#tailprint() 함수는 아무런 일도 하지 않고 pass만 있음을 나타낸다.

#score는 2차원 리스트로 9명의 학생 정보를 포함
score=[["나연",100,90,100],
        ["정연",90,90,100],
        ["모모",80,70,90],
        ["사나",90,90,80],
        ["지효",100,80,80],
        ["미나",50,90,90],
        ["다현",80,60,100],
        ["채영",70,80,90],
        ["쯔위",100,90,90]]

#프로그램을 보기 좋게 하려고 상수를 정의 
name=0;kor=1;eng=2;mat=3
#name, kor, eng, mat는 각각 0, 1, 2, 3의 값을 가진다.
#여기부터    프로그램 
titleprint()
#프로그램의 제목을 출력하는 함수
for one_student in score:
#score 리스트 안에 있는 학생들의 정보를 반복적으로 실행
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat]) 
    #함수를 호출하며, 현재 학생의 정보를 인자로 전달한다. 
tailprint()
#이 함수는 학생의 정보와 함께 표를 출력

In [186]:
#함수를 자세히 작성해 봄
def titleprint():
    print("="*50)
    #등호(=)를 이용해 구분선을 출력
    print("이름\t국어\t영어\t수학\t총점\t평균")
    # 이름, 국어, 영어, 수학, 총점, 평균 등의 제목을 출력
    print("="*50)
    #등호(=)를 이용해 구분선을 출력
    #인자는 국어, 세 번째 인자는 영어, 네 번째 인자는 수학 점수를 받는다. 
#titleprint() 함수는 아무런 일도 하지 않고 pass만 있음을 나타낸다.
    
def itemprint(name,kor,eng,mat):
    #한 명의 학생의 정보를 출력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    # 함수 내부에는 해당 학생의 이름과 국어, 영어, 수학, 총점, 평균 등의 정보를 출력
def tailprint():
    # 표의 하단에 총점과 평균을 출력하는 함수
    totkor=0 #totkor을 0으로 초기화
    toteng=0 #toteng을 0으로 초기화
    totmat=0 #totmat을 0으로 초기화
    for one_student in score:
    #함수 내부에는 for 루프를 통해 score 리스트의 모든 요소를 순회
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat] 
        # 국어, 영어, 수학 점수의 총합을 구합
    print("="*50)
    #등호(=)를 이용해 구분선을 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
            ,(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9) 
    #총점과 평균을 출력
    print("="*50)
    #등호(=)를 이용해 구분선을 출력
#score는 2차원 리스트로 9명의 학생 정보를 포함
score=[["나연",100,90,100],
        ["정연",90,90,100],
        ["모모",80,70,90],
        ["사나",90,90,80],
        ["지효",100,80,80],
        ["미나",50,90,90],
        ["다현",80,60,100],
        ["채영",70,80,90],
        ["쯔위",100,90,90]]
    
name=0;kor=1;eng=2;mat=3
#name, kor, eng, mat는 각각 0, 1, 2, 3의 값을 가진다.
#여기부터 프로그램 
titleprint()
for one_student in score:
#score 리스트 안에 있는 학생들의 정보를 반복적으로 실행
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
    #함수를 호출하며, 현재 학생의 정보를 인자로 전달한다. 
tailprint()
#이 함수는 학생의 정보와 함께 표를 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 257 	 85.0
==================================================

In [64]:
a=[1,2,3,4,5] #리스트 a정의

In [65]:
a #a출력

[1, 2, 3, 4, 5]

In [66]:
del a[2] #리스트 a의 두번째 값 삭제

In [67]:
a #a 출력

[1, 2, 4, 5]

In [68]:
del a[2] #리스트 a의 두번째 값 삭제

In [69]:
a #a 출력

[1, 2, 5]

In [70]:
a.clear() #리스트 전부 지움

In [71]:
a #빈 리스트는 남아있음

[]

In [72]:
del a #a공간도 지움

In [73]:
a #a라는 공간이 없기 때문에 오류가 뜸

NameError: name 'a' is not defined

In [75]:
a.append(1) #리스트가 정의되어 있지 않은 경우 추가는 불가

NameError: name 'a' is not defined

In [76]:
a=[] #빈 리스트를 정의

In [77]:
a.append(1) #1값의 리스트요소를 추가

In [78]:
a.append(3) #3값의 리스트요소를 추가

In [79]:
a.append(5) #5값의 리스트요소를 추가

In [80]:
a # a출력

[1, 3, 5]

In [81]:
a=[4,5,6] #기존 a를 무시하고 다시 정의

In [82]:
a.append(10) #5값의 리스트요소를 추가

In [83]:
a # a출력

[4, 5, 6, 10]

In [84]:
a=[1,2,3,4,5] #빈 리스트를 정의

In [85]:
a.append(6) #append는 맨 뒤에 하나의 요소를 삽입

In [86]:
a # a출력

[1, 2, 3, 4, 5, 6]

In [87]:
a.insert(3,12) #a의 인덱스 3번 위치에 12를 삽입

In [88]:
a # a출력

[1, 2, 3, 12, 4, 5, 6]

In [89]:
a.insert(4,15) #a의 인덱스 4번 위치에 15를 삽입

In [90]:
a # a출력

[1, 2, 3, 12, 15, 4, 5, 6]

In [91]:
a.insert(3,1) #a의 인덱스 4번 위치에 1를 삽입

In [92]:
a # a출력

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [93]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #기존 a를 무시하고 다시 정의

In [94]:
a[5:5]=[1,2,3,4,5,6] #5에서 5까지 영역에 해당 리스트 값을 대입

In [95]:
a # a출력

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [96]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #기존 a를 무시하고 다시 정의

In [97]:
 a[5]=[1,2,3,4,5,6] #5요소에 이 리스트를 대입(큰 차이)

In [98]:
a # a출력

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [99]:
a=[1,2,3] #리스트 a정의

In [100]:
b=[4,5,6] #리스트 b정의

In [101]:
a=a+b a리스트에 a와 b의 값 할당

In [102]:
a # a출력

[1, 2, 3, 4, 5, 6]

In [103]:
a=[1,2,3] #리스트 a정의

In [104]:
b=[4,5,6] #리스트 b정의

In [105]:
a.extend(b) #리스트 a의 끝에 리스트 b를 추가

In [106]:
a # a출력

[1, 2, 3, 4, 5, 6]

In [108]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 a정의

In [109]:
a # a출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [110]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [111]:
a # a출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [112]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [113]:
a # a출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [114]:
 a[5:5]=[] 
#다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)

In [115]:
a # a출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [116]:
a[2:4]=[] #a 리스트의 인덱스 2부터 4미만까지의 요소를 [] 로

In [117]:
a # a출력

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [118]:
del(a[4]) #인덱스 4의 값 삭제

In [119]:
a # a출력

[1, 2, 4, [], 6, 7, 7, 8]

In [120]:
del(a[3]) #인덱스 3의 값 삭제

In [121]:
a # a출력

[1, 2, 4, 6, 7, 7, 8]

In [122]:
a.clear() #다 지우나 빈 값에 리스트가 남음

In [123]:
a # a출력

[]

In [124]:
del(a) #리스트 정의까지 삭제

In [125]:
a # a라는 리스트를 삭제했으므로 a를 출력할 수 없다

NameError: name 'a' is not defined

In [126]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 a정의

In [127]:
a.pop() #a에서 마지막 요소를 제거하고 반환

8

In [128]:
a # a출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [129]:
a.pop() #a에서 마지막 요소를 제거하고 반환

7

In [130]:
a.pop(3) #a에서 인덱스 3요소를 제거하고 반환

3

In [131]:
a #a출력

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [132]:
a.pop(6) #a에서 인덱스 6요소를 제거하고 반환

6

In [133]:
a # a출력

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [134]:
a.pop(6) #a에서 인덱스 6요소를 제거하고 반환

7

In [135]:
a.pop(0)#a에서 인덱스 0요소를 제거하고 반환

1

In [136]:
a # a출력

[2, 3, 4, 4, 5, 7, 7]

In [137]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 a 정의

In [138]:
a.index(7) #a에서 인덱스 7번째 값

8

In [139]:
a.index(8) #값 8의 위치는 12(0부터 시작)

12

In [140]:
a.index(4) #값 4의 위치는 4(0부터 시작)

4

In [141]:
a.count(7) #7은 4번 나옴

4

In [142]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 a 정의

In [143]:
min(a);max(a);len(a) #a의 최소값, 최대값, 길이 출력

13

In [144]:
a=[1,8,5,6,2,4,5,2,6,9,4] #리스트 a 정의

In [145]:
a.reverse() #a의 순서를 역순으로 바꾸는 함수

In [146]:
a # a출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [147]:
a.sort() #a의 순서를 오름차순으로 바꾸는 함수

In [148]:
a # a출력

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [180]:
import random as r
#파이썬의 랜덤 모듈을 가져와서 r이라는 이름으로 사용
def titleprint():
    pass
#함수를 정의. 함수 내용은 pass(아무것도 하지 않음).
def itemprint(name,kortotal,engtotal,mathtotal):
    pass
#함수를 정의. 매개변수로 학생 이름과 국어, 영어, 수학 점수를 받음. 
#함수 내용은 pass(아무것도 하지 않음).
def tailprint():
    pass
# 함수를 정의. 함수 내용은 pass(아무것도 하지 않음).
#데이터 2차원 리스트
one_person=[] 
# 빈 리스트 one_person을 생성.
score=[]
#빈 리스트 score을 생성
for i in range(100):
#100번 반복.
    one_person.append("name"+str(i)) #이름
    one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) #영어
    one_person.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것 
    one_person.clear() #리스트를 비움.
#프로그램을 보기 좋게 하려고 상수를 정의 
name=0;kor=1;eng=2;mat=3
#여기부터 프로그램 
titleprint()
#titleprint()함수 호출
for one_student in score:
#score 리스트 안에 있는 학생들의 정보를 반복적으로 실행
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
    #함수를 호출하며, 현재 학생의 정보를 인자로 전달한다. 
tailprint()
#이 함수는 학생의 정보와 함께 표를 출력

In [165]:
a=(1,8,5,6,2,4,5,2,6,9,4) #튜플 a 정의

In [175]:
a # a출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [167]:
a[5] #a의 다섯번째 인덱스 값

4

In [168]:
a[3:5] 
#a의 3번째 원소부터 5번째 원소 바로 앞까지 슬라이싱한 새로운 튜플를 생성하는 코드

(6, 2)

In [169]:
a[3:8]
##a의 3번째 원소부터 8번째 원소 바로 앞까지 슬라이싱한 새로운 튜플를 생성하는 코드

(6, 2, 4, 5, 2)

In [170]:
a*2 #리스트 a를 두 번 반복한 새로운 튜플를 만드는 연산

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [171]:
a # a출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [172]:
a[1]=5  #값 변경불가

TypeError: 'tuple' object does not support item assignment

In [173]:
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [174]:
a.append(10) #값 추가 불가

AttributeError: 'tuple' object has no attribute 'append'

In [176]:
def location():
#location() 함수를 정의
    latitude = 2, 17403  # 위도 
    longitude=41,40338  #경도
    return latitude,longitude  #이런방식의 리턴은 튜플로 반환 
a=location()
#a에는 location() 함수의 반환값이 저장
print(a) #a의 값을 출력

((2, 17403), (41, 40338))