In [1]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
# 딕셔너리 자료형을 이용해 변수 a를 선언

In [2]:
a["수학"] #a에서 "수학" 키에 해당하는 값을 불러온다.

95

In [3]:
a["이름"] #a에서 "이름" 키에 해당하는 값을 불러온다.

'홍길동'

In [4]:
a.keys() #에서 "이름" 키에 해당하는 값을 불러온다.

dict_keys(['이름', '국어', '영어', '수학'])

In [5]:
a.values() #a의 값(value)들을 반환

dict_values(['홍길동', 100, 88, 95])

In [6]:
a.items()
#딕셔너리 a의 키-값 쌍(key-value pairs)을 (key, value) 형태의 튜플로 묶은 값을 반환

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [7]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
# a의 items() 메서드를 이용하여 key와 value를 쌍으로 출력하는 코드

In [8]:
for i in a.items():
#for문을 사용하여 딕셔너리 a의 각 아이템에 대해 반복
    print (i,end=",")
    #a.items()는 딕셔너리 a의 키-값 쌍을 포함하는 dict_items 객체를 반환

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [9]:
for i in a.keys():
#for문을 사용하여 딕셔너리 a의 각 키에 대해 반복
    print (i,end=",")
    #a.keys()는 딕셔너리 a의 키들을 포함하는 dict_keys 객체를 반환

이름,국어,영어,수학,

In [10]:
for i in a.values():
    #for문을 사용하여 딕셔너리 a의 각 값에 대해 반복
    print (i,end=",")
    #. a.values()는 딕셔너리 a의 값들을 포함하는 dict_values 객체를 반환

홍길동,100,88,95,

In [11]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
# a의 items() 메서드를 이용하여 key와 value를 쌍으로 출력하는 코드

In [12]:
print(a.get("과학"))
#딕셔너리 a에서 "과학" 키에 대응하는 값을 찾아서 반환
#근데 과학에 대해 대응하는 키가 없으므로 None출력

None

In [13]:
print(a.get("과학","없는과목입니다"))
#딕셔너리 a에서 "과학" 키에 대응하는 값을 찾아서 반환
#get()은 해당 키의 값을 검색하며 없는 경우의 출력내용을 지정 가능

없는과목입니다

In [14]:
print(a.get("수학","없는과목입니다"))
#딕셔너리 a에서 "수학" 키에 대응하는 값을 찾아서 반환

95

In [15]:
text="""안녕하셔요. 오늘은 날씨가 매우 화창합니다. 
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마""" 
a=dict()   #하나의 딕셔너리 자료형을 정의
for c in text:   #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a:  #해당 추출글자가 지금까지의 딕셔너리에 없다면 
        a[c]=1      #그때는 최초 1값으로 시작
    else:           #이 경우는 해당 추출글자의 딕셔너리가 있다 
        a[c] +=1    #그럼  해당 딕셔너리 키에 해당되는 값을 하나더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 42, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [16]:
#아래서 부터는 보기 힘드니 각 글자(키)를 소트해 본다 
b=dict()          #딕셔너리 하나 더 정의
l=list(a.keys())  #앞에 딕서너리에 키만 뽑아 리스트를 만듦 
l.sort()          #해당 리스트 소트
for c in l:       #각 리스트에 대하여 (결국 키값) 하나씩 뽑음 
    b[c]=a[c]     # 새로운 딕셔너리는 키값 순서데로 다시 만듦
print(b)

{'\n': 2, ' ': 42, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [17]:
a={1,2,2,2,2,3,3,3,4,5} # 중복을 허용하지 않는 set a를생성

In [18]:
a #a 출력

{1, 2, 3, 4, 5}

In [19]:
set(("a",1,2))
#("a",1,2)를 tuple로 가지는 set을 생성.

{1, 2, 'a'}

In [20]:
set("a") #a라는 문자열을 구성하는 각 문자를 원소로 가지는 set을 생성

{'a'}

In [21]:
set({"이름":"홍길동", "국어":100, "영어":88, "수학": 95})
#dictionary를 set으로 변환할 경우, key값만 set에 담긴다.

{'국어', '수학', '영어', '이름'}

In [22]:
a={1,2,3,4,5} # set 객체를 생성

In [23]:
a #a출력

{1, 2, 3, 4, 5}

In [24]:
a.add(0) #set에 새로운 원소 0을 추가

In [25]:
a #a출력

{0, 1, 2, 3, 4, 5}

In [26]:
a.add(2.4) #set에 새로운 원소 2.4를 추가

In [27]:
a#a출력

{0, 1, 2, 2.4, 3, 4, 5}

In [28]:
a.remove(3) #set에서 원소 3을 삭제

In [29]:
a #a출력

{0, 1, 2, 2.4, 4, 5}

In [30]:
A={1,2,3,4,5,6,7} #A라는 이름으로 {1,2,3,4,5,6,7} 집합을 생성

In [31]:
B={7,8,9,10} #B라는 이름으로 {7,8,9,10} 집합을 생성

In [32]:
A|B 
# A와 B의 합집합을 구한다. 
#따라서 {1,2,3,4,5,6,7} ∪ {7,8,9,10} = {1,2,3,4,5,6,7,8,9,10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
A&B
#A와 B의 교집합을 구한다. 따라서 {1,2,3,4,5,6,7} ∩ {7,8,9,10} = {7}

{7}

In [34]:
A-B
# A와 B의 차집합을 구한다. 
#따라서 {1,2,3,4,5,6,7} - {7,8,9,10} = {1,2,3,4,5,6} 이 됩니다.

{1, 2, 3, 4, 5, 6}

In [35]:
{1,2,3} < {1,2}
#첫번째 집합은 두번째 집합보다 작으므로 False

False

In [36]:
{1,2,3} > {1,2}
#첫번째 집합은 두번째 집합보다 크므로 True

True

In [37]:
{1,2,3} >= {1,2}
#첫번째 집합은 두번째 집합보다 크거나 같으므로 True

True

In [38]:
{1,2,3} == {1,2}
#첫번째 집합은 두번째 집합이 같지 않으므로 False

False

In [39]:
{1,2,3} >= {3,1,2}
#첫번째 집합은 두번째 집합이 같으므로 True

True

In [40]:
{1,2,3} == {3,1,2}
#첫번째 집합은 두번째 집합이 같으므로 True

True

In [41]:
a=["a","b","c","d","e"]
#a는 문자열로 이루어진 리스트

In [42]:
b={}
#b는 빈 딕셔너리

In [44]:
for i in range (len(a)):
#for 루프를 이용하여 리스트 a의 인덱스 범위인 range(len(a))를 순회하며 반복
    b[i]=a[i]   #a는 리스트 b는 딕셔너리
    #딕셔너리 b에 i를 키(key)로 갖고, 
    #리스트 a에서 인덱스 i에 해당하는 값을 값(value)으로 갖는 항목을 추가

In [45]:
b #b출력

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [46]:
a=["a","b","c","d","e"]
#a라는 변수에 리스트 ["a","b","c","d","e"]를 할당

In [47]:
b=enumerate(a)  #여기까지는 중간단계
#함수를 이용하여 리스트 a를 enumerate 객체로 만들고 변수 b에 할당

In [48]:
b
#enumerate() 함수로 만들어진 enumerate 객체를 출력

In [49]:
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리와 리스트를 만든다

In [50]:
b #enumerate() 함수로 만들어진 enumerate 객체를 딕셔너리로 변환한 결과를 출력

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [51]:
c #enumerate() 함수로 만들어진 enumerate 객체를 리스트로 변환한 결과를 출력

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [52]:
a={1,2,3,4,5,6,7,8}  #집합a

In [53]:
b={"a","b","c","d","e"} #집합b

In [54]:
zip(a,b) #zip만으로는 단순히 object임
#함수는 a와 b의 요소를 하나씩 묶어서 tuple 형태로 반환하는 iterator object를 반환

In [55]:
c=dict(zip(a,b));d=list(zip(a,b))
#dict(zip(a,b)) 함수와 list(zip(a,b)) 함수를 사용하여 
#a와 b의 요소를 하나씩 묶어서 tuple 형태로 반환하고, 이를 딕셔너리와 리스트로 변환

In [56]:
c #딕셔너리 c출력

{1: 'd', 2: 'a', 3: 'c', 4: 'e', 5: 'b'}

In [57]:
d #리스트 d출력

[(1, 'd'), (2, 'a'), (3, 'c'), (4, 'e'), (5, 'b')]

In [58]:
a=(1,2,3,4,5,6,7,8) #튜플a

In [59]:
b=["a","b","c","d","e"] #리스트 b

In [60]:
c=dict(zip(a,b));d=list(zip(a,b))
#dict(zip(a,b)) 함수와 list(zip(a,b)) 함수를 사용하여 
#a와 b의 요소를 하나씩 묶어서 tuple 형태로 반환하고, 이를 딕셔너리와 리스트로 변환

In [61]:
c #딕셔너리 c출력

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [62]:
d #리스트 d출력

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [63]:
def func(x): 
#함수 func(x)는 매개변수 x를 받는다.
    return x/2
    #x/2 값을 반환
x=(1,2,3,4,5,6)   
#x에는 (1, 2, 3, 4, 5, 6) 튜플이 저장
for i in filter(func,x):  
#for 반복문에서 filter(func, x)의 각 원소 i를 출력
    print(i)
    #filter함수는 인자가 하나여야함으로 반환 값이 아닌 x값이 출력

1
2
3
4
5
6

In [68]:
def func(x,y):
    return x+y 
#함수 func는 인자 두 개를 받아서 더한 값을 반환
x=(1,2,3,4,5,6) #튜플 x 
y=(7,8,9,10,11,12) #튜플 y 
#for i in filter(func,x,y): filter를 사용하면 에러 
for i in map(func,x,y):
#filter()와 달리 map()은 인자로 여러 개의 iterator를 받을 수 있으므로,
#x와 y를 인자로 넘길 수 있다.
    print(i)
    #i출력
    #x와 y의 각 원소들을 더한 값으로 이루어진 튜플 (8, 10, 12, 14, 16, 18)이 출력

8
10
12
14
16
18

In [69]:
x=(1,2,3,4,5,6) #x튜플 
y=(7,8,9,10,11,12) #y튜플
for i in map(lambda x,y:x+y, x,y):
#for 반복문에서 map 함수의 결과를 반복하여 각각의 값을 출력
# 리스트 x와 y의 같은 인덱스의 원소들을 더하는 lambda 함수를 이용하여 새로운 리스트를 생성하는 코드
    print(i)
    #i출력

8
10
12
14
16
18

In [104]:
a=[1,2,3] #리스트 [1, 2, 3]을 변수 a에 할당

In [105]:
b=a #b도 a와 같은 리스트 객체를 참조

In [106]:
b[2]=5 #b리스트의 2번 인덱스 요소가 5로 변경

In [107]:
a
#a와 b가 동일한 리스트 객체를 참조하므로, a 리스트도 변경

[1, 2, 5]

In [108]:
b
#b 리스트 변경

[1, 2, 5]

In [109]:
b[1]=3 #b리스트의 1번 인덱스 요소가 3로 변경

In [110]:
a
#a와 b가 동일한 리스트 객체를 참조하므로, a리스트도 변경

[1, 3, 5]

In [76]:
a=[1,2,3] #a라는 리스트를 생성하고, 그 안에 원소 [1, 2, 3]를 저장

In [77]:
b=a[:] #b라는 리스트를 생성하고, a 리스트의 모든 요소들을 복사하여 저장

In [78]:
b[2]=5 #b 리스트의 인덱스 2에 해당하는 위치에 5를 할당

In [82]:
a #a 리스트는 그대로 [1, 2, 3]이 출력

[1, 2, 3]

In [83]:
b #b 리스트는 인덱스 2에 5를 할당하여 [1, 2, 5]가 출력

[1, 2, 5]

In [84]:
a=[1,2,3] #a라는 리스트를 생성하고, 그 안에 원소 [1, 2, 3]를 저장

In [85]:
b=a.copy() #b라는 리스트를 생성하고, a 리스트의 모든 요소들을 복사하여 저장

In [86]:
b[2]=5 #b 리스트의 인덱스 2에 해당하는 위치에 5를 할당

In [87]:
a #a 리스트는 그대로 [1, 2, 3]이 출력

[1, 2, 3]

In [88]:
b #b 리스트는 인덱스 2에 5를 할당하여 [1, 2, 5]가 출력

[1, 2, 5]

In [90]:
a=[[1,2],3,4] #a 리스트에 [1,2],3,4가 저장

In [91]:
b=a.copy() #a의 내용을 복사하여 b에 저장

In [92]:
b #b 리스트를 출력

[[1, 2], 3, 4]

In [93]:
b[0][1]=3 #b 리스트의 0번째 리스트의 1번째 원소를 3으로 변경

In [94]:
b #b 리스트를 출력

[[1, 3], 3, 4]

In [95]:
a #a 리스트를 출력
#컬렉션안에 컬렉션이 있는경우 copy만으로 2레벨이상의
#리스트까지 복사되지 않는다

[[1, 3], 3, 4]

In [96]:
a=[[1,2],3,4] #a 리스트에 [1,2],3,4가 저장

In [97]:
b=a[:] #a의 내용을 복사하여 b에 저장

In [98]:
b #b 리스트를 출력

[[1, 2], 3, 4]

In [99]:
b[0][1]=3 #b 리스트의 0번째 리스트의 1번째 원소를 3으로 변경

In [100]:
a #a 리스트를 출력
#컬렉션안에 컬렉션이 있는경우 copy만으로 2레벨이상의
#리스트까지 복사되지 않는다

[[1, 3], 3, 4]

In [101]:
import copy as c 
#copy 모듈을 c라는 이름으로 import
a=[[1,2],3,4]
#a 변수에 3개의 요소를 갖는 리스트를 할당
b=c.deepcopy(a) 
#copy 모듈의 deepcopy() 함수를 사용하여 a를 복사하여 b에 할당
b[0][1]=3 #b의 첫 번째 요소의 두 번째 값을 3으로 변경
print(a,b)# a와 b를 출력

[[1, 2], 3, 4] [[1, 3], 3, 4]